<div id="event-time">
  <div id="side-header">
    Date & Time
  </div>
  <div id="time-fields">
    <label class="label">From</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="date-field">
          <p class="control has-icons-left" id="date">
            <PikadayInput
                @value=startDate
                @placeholder="Start date"
                @onSelection={{fn this.updateEventDate startDate "startDate"}}
            >
            </PikadayInput>
          </p>
        </div>
        <div class="">
          <p class="control is-expanded has-icons-left">
            <span>{{ input type="time" value=@startTime id="from-time" name="startTime" }}</span>
          </p>
        </div>
      </div>
    </div>
    {{#if errors.startTimeErrors }}<ErrorMessages @errors={{errors.startTimeErrors}} />{{/if}}
    <label for="" class="label">Time</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="date-field">
          <p class="control has-icons-left" id="date">
            <PikadayInput
                @value=startDate
                @placeholder="Start date"
                @onSelection={{fn this.updateEventDate endDate "endDate"}}
            >
            </PikadayInput>
          </p>
        </div>
        <div class="">
          <p class="control is-expanded has-icons-left">
            <span>{{ input type="time" value=@endTime id="to-time" name="endTime" }}</span>
          </p>
        </div>
      </div>
    </div>
    {{#if errors.endTimeErrors }}<ErrorMessages @errors={{errors.endTimeErrors}} />{{/if}}
  </div>
</div>