<div id="event-info">
  <div id="side-header">
    Basic info
  </div>
  <div id="info-fields">
    <div class="field">
      <label for="name" class="label">Name</label>
      <div class="control">
        {{ input value=(mut name) placeholder = "Enter event name ..." class=nameClasses key-press=(action "clearErrors" errors.nameErrors ) name="name" }}
      </div>
      {{#if errors.nameErrors }}<ErrorMessages @errors={{errors.nameErrors}} />{{/if}}
    </div>

    <div class="field">
      <label for="guests" class="label">Guests</label>
      <div class="control">
        {{ input value = guests placeholder = "Number of guests" class=guestsClasses type = "number" key-press=(action "clearErrors" errors.guestsErrors ) name="guests" }}
      </div>
      {{#if errors.guestsErrors }}<ErrorMessages @errors={{errors.guestsErrors}} />{{/if}}
    </div>

    <div class="field">
      <label for="description" class="label">Description</label>
      <div class="control">
        {{ textarea value=description class=descriptionClasses type = "textarea" key-press=(action "clearErrors" errors.descriptionErrors ) name="description" }}
      </div>
      {{#if errors.descriptionErrors }}<ErrorMessages @errors={{errors.descriptionErrors}} />{{/if}}
    </div>
  </div>
</div>